.navMenu__wrapper {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 821px) {
    display: none;
  }
  div {
    cursor: pointer;
    img {
      margin: 0 auto;
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 23px;
      text-align: center;
    }
  }
}
